<div class="mt-3">
  <div class="table-responsive">
    <table class="table table-sm table-hover">
      <thead>
        <tr>
          <th>
            Passenger
          </th>
          <th>
            Pickup Address
          </th>
          <th>
            Dropoff Address
          </th>
          <th>
            Phone Number
          </th>
          <th>
            Scheduled Pickup Time
          </th>
          <th>
            Appointment Date
          </th>
          <th>
            Vehicle Type
          </th>
          <th>
            Mileage
          </th>
        </tr>
      </thead>
      <tbody id="trips-listing">
        <%= render partial: 'driver_trip', locals: { trips: @trips } %>
      </tbody>
    </table>
  </div>
</div>
