<div class="container mt-3">
  <div class="row">
    <%= form_with method: :get, local: true do |f| %>
      <%= f.date_field :date, value: @date, onchange: 'this.form.submit()' %>
      <%= f.collection_select :driver_id, User.order(:last_name), :id, :name, { selected: @driver_id, include_blank: true }, { onchange: 'this.form.submit()' } %>
    <% end %>
  </div>
</div>
<div class="mt-3">
  <table class="table table-hover table-striped">
    <thead>
      <tr>
        <th>
          Status
        </th>
        <th>
          Driver
        </th>
        <th>
          Passenger
        </th>
        <th>
          Pickup Address
        </th>
        <th>
          Dropoff Address
        </th>
        <th>
          Phone Number
        </th>
        <th>
          Scheduled Pickup Time
        </th>
        <th>
          Appointment Date
        </th>
        <th>
          Vehicle Type
        </th>
        <th>
          Trip Reason
        </th>
        <th>
          Mileage
        </th>
        <th>
        </th>
        <th>
        </th>
        <th>
        </th>
      </tr>
    </thead>
    <tbody id="trips-listing">
      <%= render @trips %>
    </tbody>
  </table>
</div>
