<h1>Trips page</h1>
<table class="table table-hover table-striped">
  <thead>
    <tr>
      <th>
        Name
      </th>
      <th>
        Pickup Address
      </th>
      <th>
        Dropoff Address
      </th>
      <th>
        Phone Number
      </th>
      <th>
        Scheduled Pickup Time
      </th>
      <th>
        Appointment Date
      </th>
      <th>
        Vehicle Type
      </th>
      <th>
        Trip Reason
      </th>
      <th>
        Mileage
      </th>
      <th>
        Trip Instruction
      </th>
      <th>
        Notes
      </th>
      <th>
        Trip Number
      </th>
      <th>
      </th>
    </tr>
  </thead>
  <tbody>
    <%= render @trips %>
  </tbody>
</table>
